@model Employee

@{
    ViewData["Title"] = "Modifier Employé";
}

<h2>Modifier Employé</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Nom</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Département</label>
        <input asp-for="Departement" class="form-control" />
    </div>

    <div class="form-group">
        <label>Salary</label>
        <input asp-for="Salary" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="/Employee/Index" class="btn btn-secondary">Annuler</a>
</form>
